@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background: linear-gradient(90deg, hsl(190, 100%, 80%), hsl(260, 100%, 80%));
    padding-top: 3rem;
}

